# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store

# Logs
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
.terraform.lock.hcl
