target/
!.mvn/wrapper/maven-wrapper.jar
*.class

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
override.tf
override.tf.json

# Logs
*.log
