target/
!.mvn/wrapper/maven-wrapper.jar

### IDE ###
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.project
.classpath

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Terraform ###
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
