# Maven
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local

# OS / misc
.DS_Store
*.log
