# Maven
target/
*.jar
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
.terraform.lock.hcl

# OS / logs
.DS_Store
*.log
