# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.settings/
.classpath
.project

# OS
.DS_Store

# Logs
*.log

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars.local
.terraform.lock.hcl
